<div class = 'header'>
    <span>
        <h1><%= link_to "Learn Something New", root_path, class: "page_title" %></h1>
    </span>
    <%= link_to "+", new_article_path, class: "button_create" %>
</div>